".text.html.basic, .text.html.php, .text.html.php.blade, .text.html.hack":

  "Boostrap3 Table - Responsive Table ":
    prefix:"boo3:table-responsive"
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#7952b3">Bootstrap 3.3.7</span> Table - responsive'
    body:"""
      <div class="table-responsive">
        <table class="table${1: ${2:table-striped }${3:table-bordered }${4:table-hover }${5:table-condensed}}">
          <thead>
            <tr>
              <th>$5</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$6</td>
            </tr>
          </tbody>
        </table>
      </div>
    """
