'.text.html.php.blade, .text.html, .text.html.php, .text.html.hack':

  'Bulma Form - field':
    prefix: 'bulma:field'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#00d1b2">Bulma.io</span> Form Field'
    body: """
      <div class="field">
        <label class="label" for="${1:name}">${2:Label}</label>
        <div class="control">
          <input class="input" id="${1:name}" name="${1:name}" type="text" value="" placeholder="${2:Label}">
        </div>
        <p class="help">This_is_a_help_text</p>
      </div>
    """

  'Bulma Form - field + Icon':
    prefix: 'bulma:field with icon'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#00d1b2">Bulma.io</span> Form Field + Icon'
    body: """
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="${1:Placeholder}">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fa fa-check"></i>
          </span>
        </p>
      </div>
    """

  'Bulma Form - field + Addon':
    prefix: 'bulma:field with addon'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#00d1b2">Bulma.io</span> Form Field + Addon'
    body: """
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input" type="text" placeholder="Find a repository">
        </div>
        <div class="control">
          <a class="button is-info">
            Search
          </a>
        </div>
      </div>
    """

  'Bulma Form - (full)':
    prefix: 'bulma:form-full'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#00d1b2">Bulma.io</span> Form - (full)'
    body: """
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">From</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Name">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left has-icons-right">
              <input class="input is-success" type="email" placeholder="Email" value="alex@smith.com">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  +44
                </a>
              </p>
              <p class="control is-expanded">
                <input class="input" type="tel" placeholder="Your phone number">
              </p>
            </div>
            <p class="help">Do not enter the first zero</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Department</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth">
                <select>
                  <option>Business development</option>
                  <option>Marketing</option>
                  <option>Sales</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Already a member?</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input type="radio" name="member">
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="member">
                No
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Subject</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input is-danger" type="text" placeholder="e.g. Partnership opportunity">
            </div>
            <p class="help is-danger">
              This field is required
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Question</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary">
                Send message
              </button>
            </div>
          </div>
        </div>
      </div>
    """
