"source.css, source.less, source.scss":

  "CSS Media calls":
    "prefix":  "css:media-calls"
    'leftLabelHTML': '<span style="color:#1B81B6">Ⓢ</span>'
    "body":"""

      $1

      @media (min-width: 768px) {

      }

      @media (min-width: 992px) {

      }

      @media (min-width: 1200px) {

      }
    """
