".source.css, .source.less, .source.scss":
  "CSS Media calls":
    prefix: "media-calls"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>CSS</span> Responsive media calls"
    body: "// Small devices (phones, 576px and up)\n@media (min-width: 576px) {\n\n}\n\n/// Medium devices (tablets, 768px and up)\n@media (min-width: 768px) {\n\n}\n\n// Large devices (desktops, 992px and up)\n@media (min-width: 992px) {\n\n}\n\n// Extra large devices (large desktops, 1200px and up)\n@media (min-width: 1200px) {\n\n}"
  "CSS Margings Paddings -variable":
    prefix: "css:margins-paddings"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>LESS</span> Margins paddings"
    body:".m-${1:t} { margin-${2:top}: 15px;}\n.m-${1:t}-10 { margin-${2:top}: 10px;}\n.m-${1:t}-20 { margin-${2:top}: 20px;}\n.m-${1:t}-30 { margin-${2:top}: 30px;}\n.m-${1:t}-40 { margin-${2:top}: 40px;}\n.m-${1:t}-50 { margin-${2:top}: 50px;}\n.p-${1:t} { padding-${2:top}: 15px;}\n.p-${1:t}-10 { padding-${2:top}: 10px;}\n.p-${1:t}-20 { padding-${2:top}: 20px;}\n.p-${1:t}-30 { padding-${2:top}: 30px;}\n.p-${1:t}-40 { padding-${2:top}: 40px;}\n.p-${1:t}-50 { padding-${2:top}: 50px;}"
  "Flexbox - align-content: flex-start;":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> align-content: flex-start"
    prefix: "flexbox:align-content"
    body: "align-content: ${1:flex-start|flex-end|center|space-between|space-around|stretch};"
  "Flexbox - align-items: flex-start;":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> align-items: flex-start"
    prefix: "flexbox:flexitems"
    body: "align-items: ${1:flex-start|flex-end|center|baseline|stretch};"
  "Flexbox - align-self: auto;":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> align-self: auto"
    prefix: "flexbox:flexself"
    body: "align-self: ${1:auto|flex-start|flex-end|center|baseline|stretch};"
  "Flexbox - flex-basis: auto;":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flex-basis: auto"
    prefix: "flexbox:flexbasis"
    body: "flex-basis: ${1:auto|<'width' (%|rem|em|px)>};"
  "Flexbox - flex-direction: row;":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flex-direction: row"
    prefix: "flexbox:flexdir"
    body: "flex-direction: ${1:row|row-reverse|column|column-reverse};"
  "Flexbox - flex-flow: row nowrap;":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flex-flow: row nowrap"
    prefix: "flexbox:flexflow"
    body: "flex-flow: ${1:<'flex-direction' (row|row-reverse|column|column-reverse)> || <'flex-wrap' (nowrap|wrap|wrap-reverse)>};"
  "Flexbox - flex-grow: 0;":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flex-grow: 0"
    prefix: "flexbox:flexgrow"
    body: "flex-grow: ${1:0};"
  "Flexbox - flex-shrink: 1;":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flex-shrink: 1"
    prefix: "flexbox:flexshr"
    body: "flex-shrink: ${1:1};"
  "Flexbox - flex-wrap: nowrap;":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flex-wrap: nowrap"
    prefix: "flexbox:flexwrap"
    body: "flex-wrap: ${1:nowrap|wrap|wrap-reverse};"
  "Flexbox - flex: 0 1 auto;":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flex: 0 1 auto"
    prefix: "flexbox:flex"
    body: "flex: ${1:none|auto|[<'flex-grow' (0)> <'flex-shrink' (1)> || <'flex-basis' auto|<'width' (%|rem|em|px)>>]};"
  "Flexbox - display: flex;":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> display: flex"
    prefix: "flexbox:flexbox"
    body: "display: ${1:flex|inline-flex};"
  "Flexbox - justify-content: flex-start;":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> justify-content: flex-start"
    prefix: "flexbox:flexjust"
    body: "justify-content: ${1:flex-start|flex-end|center|space-between|space-around};"
  "Flexbox - order: 0;":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span>  order: 0"
    prefix: "flexbox:flexorder"
    body: "order: ${1:0};"
