".css":

  "Bootstrap Template CSS":
    "prefix": atom.config.get('bootstrap-3-snippets-for-atom.sf-prefix') + "css"
    "body":"""

      $1

      @media (min-width: 768px) {

      }

      @media (min-width: 992px) {

      }

      @media (min-width: 1200px) {

      }
    """
