".source.js, .source.jsx, .source.ts, .source.tsx":
  "ES6: Import empty":
    prefix: "import-empty-parent-folder-2-levels"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> ES6 Import empty up 2 levels"
    body: "import ${1} from './${2:../../}${3}';"
  "ES6: Import axios":
    prefix: "import-axios"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> ES6 Import axios from axios"
    body: "import axios from 'axios';\n$1"
  "ES6: Import Vue":
    prefix: "import-vue"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> ES6 Import Vue from vue"
    body: "import Vue from 'vue';\n$1"
  "ES6: Axios get":
    prefix: "axios-get"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> ES6 Import axios from axios"
    body: "axios.get('${1}').then(res => {\n\tconsole.log(res);\n}).catch(error => {\n\tconsole.log(error);\n});"
