".source.js, .source.jsx, .source.ts, .source.tsx":

  "ES6: Import empty":
    prefix: "import-empty-parent-folder-2-levels"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> Import empty up 2 levels"
    body: "import ${1} from './${2:../../}${3}';"
  "ES6: Console log":
    prefix: "clog"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> Console log '[-- ${1} --]'"
    body: "console.log('[-- ${1} --]', ${1});"

  "ES6: Import axios":
    prefix: "import-axios"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> Import axios from axios"
    body: "import axios from 'axios';\n$1"

  "ES6: Import Vue":
    prefix: "import-vue"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> Import Vue from vue"
    body: "import Vue from 'vue';\n$1"

  "ES6: Axios get":
    prefix: "axios-get"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> Import axios from axios"
    body: "axios.get('${1}').then(res => {\n\tconsole.log(res);\n}).catch(error => {\n\tconsole.log(error);\n});"

  "ES6: Import default from module":
    prefix: "ilibrary"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> import default from module"
    body: "import ${1} from '${2}';"

  "ES6: Import local module":
    prefix: "ilocal"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> import local ./../../module"
    body: "import ${1} from './../../${2}';"

  "ES6: Import * as MODULE from 'module'":
    prefix: "iallas"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> Import * as MODULE from 'module'"
    body: "import * as ${1} from '${2}';"

  "ES6: Import module from":
    prefix: "iefrom"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> import { Component } from 'module' "
    body: "import { ${1} } from '${2}';"

  "ES6: export default MODULE":
    prefix: "edefault"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> export default NAME; "
    body: "export default ${1};"

  "ES6: export default { MODULE }":
    prefix: "edefaultbrakets"
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#f5da55'>ES6</span> export default { MODULE }; "
    body: "export default { ${1} };"
