".text.html.basic, .text.html.php":

  "Boostrap Form Group":
    "prefix":".:formgroup"
    "body":"""
      <div class="form-group">
        <label for="${1:name-id}">${2:Form Title}</label>
        $3
      </div>
      $6
    """

  "Boostrap Form":
    "prefix":".:form"
    "body":"""
      <form${1: class="${2:form-inline }${3:form-horizontal }"}>
        $4
      </form>
    """

  "Boostrap Input":
    "prefix":".:input"
    "body":"""
      <input ${1:type="$2" }${3:class="${4:form-control }${5:input-${6:lg}}$7" }${8:placeholder="$9" }${10:disabled}>
      $11
    """

  "Boostrap Textarea":
    "prefix":".:textarea"
    "body":"""
      <textarea ${1:class="form-control$2" }${3:placeholder="$4" }${5:disabled}>$6</textarea>
      $7
    """

  "Bootstrap Checkbox":
    "prefix":".:checkbox"
    "body":"""
      <div class="checkbox${1:-inline}$2">
        <label>
          <input type="checkbox" ${3:name="$4" }${5:value="$5" }${6:checked }${7:disabled}>
          $8
        </label>
      </div>
      $9
    """

  "Bootstrap Inline Checkbox":
    "prefix":".:checkboxinline"
    "body":"""
      <div class="checkbox-inline$1">
        <label>
          <input type="checkbox" ${2:name="$3" }${4:value="$5" }${6:checked }${7:disabled}>
          $8
        </label>
      </div>
      $8
    """

  "Bootstrap Radio":
    "prefix":".:radio"
    "body":"""
      <div class="radio${1:-inline}$2">
        <label>
          <input type="radio" ${3:name="$4" }${5:value="$5" }${6:checked }${7:disabled}>
          $8
        </label>
      </div>
      $9
    """

  "Bootstrap Inline Radio":
    "prefix":".:radioinline"
    "body":"""
      <div class="radio-inline$1">
        <label>
        <input type="radio" ${2:name="$3" }${4:value="$5" }${6:checked }${7:disabled}>
          $7
        </label>
      </div>
      $8
    """

  "Bootstrap Select":
    "prefix":".:select"
    "body":"""
      <select${1: class="form-control$2"}${3: disabled}>
        $4
      </select>
      $5
    """

  "Bootstrap Fieldset":
    "prefix":".:fieldset"
    "body":"""
      <fieldset${1: class="$2"}>
        $3
      </fieldset>
      $4
    """

  "Bootstrap Button":
    "prefix":".:button"
    "body":"""
      <button type="${1:submit}"${2: class="${3:btn }${4:btn-${5:lg} }${6:btn-${7:default} }$8"}>$9</button>
      $10
    """
