".text.html":

  "Bootstrap JS":
    "prefix":"boojs"
    "body":"""
      <script="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      $1
    """

  "Bootstrap CSS":
    "prefix":"boocss"
    "body":"""
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      ${1:<link href="${2:assets/css/css.css}" rel="stylesheet">}
      $3
    """

  "Boostrap IECSS":
    "prefix":"booiecss"
    "body":"""
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
        $1
    """
