'.text.html.php.blade':
  'Form':
    prefix: 'form:form'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">open</span> + buttons + close'
    body: """
        {!! Form::open([\'method\' => \'${1:POST}\', \'${2:route}\' => \'${3:routeName}\'${4:, \'class\' => \'form-horizontal\'}]) !!}
            ${0:boottext}
            <div class="btn-group pull-right">
                ${5:{!! Form::reset("Reset", [\'class\' => \'btn btn-warning\']) !!\\}}
                {!! Form::submit("${6:Add}", [\'class\' => \'btn btn-${7:success}\']) !!}
            </div>
        {!! Form::close() !!}
    """

  'submit button':
    prefix: 'form:button'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">button</span>'
    body: """
        {!! Form::submit(\'${1:Button name}\', [\'class\' => \'btn${2: btn-info}${3: pull-right}\']) !!}
    """

  'checkbox':
    prefix: 'form:checkbox'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">checkbox</span>'
    body: """
      <div class="form-group">
          <div class="checkbox{{ \$errors->has('${1:checkbox_id}') ? ' has-error' : '' }}">
              <label for="${1:checkbox_id}">
                  {!! Form::checkbox(\'${1:checkbox_id}\',${2: null},${3: null}, [\'id\' => \'${1:checkbox_id}\']) !!} ${4:Checkbox label}
              </label>
          </div>
          <small class="text-danger">{{ \$errors->first(\'${1:checkbox_id}\') }}</small>
      </div>
    """

  'checkbox H':
    prefix: 'form:checkboxh'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">checkbox</span> - h'
    body: """
        <div class="form-group">
            <div class="${5:col-sm-offset-3 col-sm-9}">
                <div class="checkbox{{ \$errors->has('${1:checkbox_id}') ? ' has-error' : '' }}">
                    <label for="${1:checkbox_id}">
                        {!! Form::checkbox(\'${1:checkbox_id}\',${2: null},${3: null}, [\'id\' => \'${1:checkbox_id}\']) !!} ${4:Checkbox label}
                    </label>
                </div>
                <small class="text-danger">{{ \$errors->first(\'${1:checkbox_id}\') }}</small>
            </div>
        </div>
    """

  'date':
    prefix: 'form:date'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">date</span>'
    body: """
        <div class="form-group{{ \$errors->has('${1:date}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:date}\', \'${2:Date}\') !!}
            {!! Form::date(\'${1:date}\',${3: null}, [\'class\' => \'form-control\'${4:, \'required\' => \'required\'}]) !!}
            <small class="text-danger">{{ \$errors->first(\'${1:date}\') }}</small>
        </div>
    """

  'date H':
    prefix: 'form:dateh'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">date</span> - h'
    body: """
        <div class="form-group{{ \$errors->has('${1:date}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:date}\', \'${2:Date}\', [\'class\' => \'${3:col-sm-3 control-label}\']) !!}
            <div class="${4:col-sm-9}">
                {!! Form::date(\'${1:date}\',${5: null}, [\'class\' => \'form-control\'${6:, \'required\' => \'required\'}]) !!}
                <small class="text-danger">{{ \$errors->first(\'${1:date}\') }}</small>
            </div>
        </div>
    """

  'email':
    prefix: 'form:email'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">email</span>'
    body: """
        <div class="form-group{{ \$errors->has('${1:email}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:email}\', \'${2:Email address}\') !!}
            {!! Form::email(\'${1:email}\',${3: null}, [\'class\' => \'form-control\'${4:, \'required\' => \'required\'}${5:, \'placeholder\' => \'eg: foo@bar.com\'}]) !!}
            <small class="text-danger">{{ \$errors->first(\'${1:email}\') }}</small>
        </div>
    """

  'email H':
    prefix: 'form:emailh'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">email</span> - h'
    body: """
        <div class="form-group{{ \$errors->has('${1:email}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:email}\', \'${2:Email address}\', [\'class\' =>\'${3:col-sm-3 control-label}\']) !!}
            <div class="${4:col-sm-9}">
                {!! Form::email(\'${1:email}\',${5: null}, [\'class\' => \'form-control\'${6:, \'required\' => \'required\'}${7:, \'placeholder\' => \'eg: foo@bar.com\'}]) !!}
                <small class="text-danger">{{ \$errors->first(\'${1:email}\') }}</small>
            </div>
        </div>
    """

  'file':
    prefix: 'form:file'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">file</span>'
    body: """
        <div class="form-group{{ \$errors->has('${1:inputname}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:inputname}\', \'${2:File label}\') !!}
            {!! Form::file(\'${1:inputname}\'${3:, [\'required\' => \'required\']}) !!}
            ${4:<p class="help-block">${5:Help block text}</p>}
            <small class="text-danger">{{ \$errors->first(\'${1:inputname}\') }}</small>
        </div>
    """

  'form model':
    prefix: 'form:formmodel'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">model</span> - open + buttons + close'
    body: """
        {!! Form::model(\$${1:model}, [\'route\' => [\'${1:model}s.update\', ${1:model}s->id}], \'method\' => \'PUT\']) !!}

            ${0:boottext}

            <div class="btn-group pull-right">
                ${2:{!! Form::reset("Reset", [\'class\' => \'btn btn-warning\']) !!\}}
                {!! Form::submit("${3:Add}", [\'class\' => \'btn btn-${4:success}\']) !!}
            </div>

        {!! Form::close() !!}
    """

  'hidden':
    prefix: 'form:hidden'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">hidden</span>'
    body: """
        {!! Form::hidden(\'${1:inputname}\', ${2:\'value\'}) !!}
    """

  'number':
    prefix: 'form:number'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">number</span>'
    body: """
        <div class="form-group{{ \$errors->has('${1:inputname}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:inputname}\', \'${2:Inputlabel}\') !!}
            {!! Form::number(\'${1:inputname}\',${3: null}, [\'class\' => \'form-control\'${4:, \'required\' => \'required\'}]) !!}
            <small class="text-danger">{{ \$errors->first(\'${1:inputname}\') }}</small>
        </div>
    """

  'number H':
    prefix: 'form:numberh'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">number</span> - h'
    body: """
        <div class="form-group{{ \$errors->has('${1:inputname}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:inputname}\', \'${2:Inputlabel}\', [\'class\' => \'${5:col-sm-3 control-label}\']) !!}
            <div class="${6:col-sm-9}">
                {!! Form::number(\'${1:inputname}\',${3: null}, [\'class\' => \'form-control\'${4:, \'required\' => \'required\'}]) !!}
                <small class="text-danger">{{ \$errors->first(\'${1:inputname}\') }}</small>
            </div>
        </div>
    """

  'password':
    prefix: 'form:password'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">password</span>'
    body: """
        <div class="form-group{{ \$errors->has('${1:password}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:password}\', \'${2:Password}\') !!}
            {!! Form::password(\'${1:password}\', [\'class\' => \'form-control\'${3:, \'required\' => \'required\'}]) !!}
            <small class="text-danger">{{ \$errors->first(\'${1:password}\') }}</small>
        </div>
    """

  'password H':
    prefix: 'form:passwordh'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">password</span> - h'
    body: """
        <div class="form-group{{ \$errors->has('${1:password}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:password}\', \'${2:Password}\', [\'class\' => \'${4:col-sm-3 control-label}\']) !!}
                <div class="${5:col-sm-9}">
                    {!! Form::password(\'${1:password}\', [\'class\' => \'form-control\'${3:, \'required\' => \'required\'}]) !!}
                    <small class="text-danger">{{ \$errors->first(\'${1:password}\') }}</small>
                </div>
        </div>
    """

  'radio':
    prefix: 'form:radio'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">radio</span>'
    body: """
        <div class="radio{{ \$errors->has('${1:radio_group_name}') ? ' has-error' : '' }}">
            <div class="${5:col-sm-offset-3 col-sm-9}">
                <label for="${1:radio_group_name}" class="checkbox">
                    {!! Form::radio(\'${1:radio_group_name}\',${2: null},${3:  null}, [
                        \'class\' => \'form-control\',
                        \'id\'    => \'${4:radio_id}\',
                    ]) !!} ${5:Checkbox label}
                </label>
            </div>
        </div>
    """

  'select':
    prefix: 'form:select'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">select</span>'
    body: """
        <div class="form-group{{ \$errors->has('${1:inputname}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:inputname}\', \'${2:Inputlabel}\') !!}
            {!! Form::select(\'${1:inputname}\',${3: \$options},${4: \\$selected_value}, [\'class\' => \'form-control\'${5:, \'required\' => \'required\'}${6:, \'multiple\'}]) !!}
            <small class="text-danger">{{ \\$errors->first(\'${1:inputname}\') }}</small>
        </div>
    """

  'select h':
    prefix: 'form:selecth'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">select</span> - h'
    body: """
        <div class="form-group{{ \$errors->has('${1:inputname}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:inputname}\', \'${2:Inputlabel}\', [\'class\' => \'${7:col-sm-3 control-label}\']) !!}
            <div class="${8:col-sm-9}">
                {!! Form::select(\'${1:inputname}\',${3: \$options},${4: \\$selected_value}, [\'class\' => \'form-control\'${5:, \'required\' => \'required\'}${6:, \'multiple\'}]) !!}
                <small class="text-danger">{{ \\$errors->first(\'${1:inputname}\') }}</small>
            </div>
        </div>
    """

  'select month':
    prefix: 'form:selectmonth'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">selectRange</span> month'
    body: """
        <div class="form-group{{ \$errors->has('${1:month}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:month}\', \'${2:Month}\') !!}
            {!! Form::selectRange(\'${1:month}\', [\'class\' => \'form-control\'${3:, \'required\' => \'required\'}]) !!}
            <small class="text-danger">{{ \$errors->first(\'${1:month}\') }}</small>
        </div>
    """

  'select month H':
    prefix: 'form:selectmonthh'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">selectRange</span> month - h'
    body: """
        <div class="form-group{{ \$errors->has('${1:month}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:month}\', \'${2:Month}\', [\'class\' => \'${4:col-sm-3 control-label}\']) !!}
            <div class="${5:col-sm-9}">
                {!! Form::selectRange(\'${1:month}\', [\'class\' => \'form-control\'${3:, \'required\' => \'required\'}]) !!}
                <small class="text-danger">{{ \$errors->first(\'${1:month}\') }}</small>
            </div>
        </div>
    """

  'select range':
    prefix: 'form:selectrange'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">selectRange</span>'
    body: """
        <div class="form-group{{ \$errors->has('${1:inputname}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:inputname}\', \'${2:Inputlabel}\') !!}
            {!! Form::selectRange(\'${1:inputname}\', ${3:0}, ${4:10}, [\'class\' => \'form-control\'${5:, \'required\' => \'required\'}]) !!}
            <small class="text-danger">{{ \$errors->first(\'${1:inputname}\') }}</small>
        </div>
    """

  'select range H':
    prefix: 'form:selectrangeh'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">selectRange</span> - h'
    body: """
        <div class="form-group{{ \$errors->has('${1:inputname}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:inputname}\', \'${2:Range}\', [\'class\' => \'${6:col-sm-3 control-label}\']) !!}
            <div class="${7:col-sm-9}">
                {!! Form::selectRange(\'${1:inputname}\', ${3:0}, ${4:10}, [\'class\' => \'form-control\'${5:, \'required\' => \'required\'}]) !!}
                <small class="text-danger">{{ \$errors->first(\'${1:inputname}\') }}</small>
            </div>
        </div>
    """

  'select year':
    prefix: 'form:selectyear'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">selectYear</span>'
    body: """
        <div class="form-group{{ \$errors->has('${1:year}') ? ' has-error' : '' }}">
            {!! Form::label('${1:year}', '${2:Year}') !!}
            {!! Form::selectYear('${1:year}', ${3:date('Y')}, ${4:date('Y') + 10}, null, ['class' => 'form-control'${5:, 'required' => 'required'}]) !!}
            <small class="text-danger">{{ \$errors->first('${1:year}') }}</small>
        </div>
    """

  'select year H':
    prefix: 'form:selectyearh'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">selectYear</span> - h'
    body: """
        <div class="form-group{{ \$errors->has('${1:year}') ? ' has-error' : '' }}">
            {!! Form::label('${1:year}', '${2:Year}', 'class' => '${6:col-sm-3 control-label}') !!}
            <div class="${7:col-sm-9}">
                {!! Form::selectYear('${1:year}', ${3:date('Y')}, ${4:date('Y') + 10}, null, ['class' => 'form-control'${5:, 'required' => 'required'}]) !!}
                <small class="text-danger">{{ \$errors->first('${1:year}') }}</small>
            </div>
        </div>
    """

  'text':
    prefix: 'form:text'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">text</span>'
    body: """
        <div class="form-group{{ \$errors->has('${1:inputname}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:inputname}\', \'${2:Inputlabel}\') !!}
            {!! Form::text(\'${1:inputname}\',${3:null}, [\'class\' => \'form-control\'${4:, \'required\' => \'required\'}]) !!}
            <small class="text-danger">{{ \$errors->first(\'${1:inputname}\') }}</small>
        </div>
    """

  'text H':
    prefix: 'form:texth'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">text</span> - h'
    body: """
        <div class="form-group{{ \$errors->has('${1:inputname}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:inputname}\', \'${2:Inputlabel}\', [\'class\' => \'${5:col-sm-3 control-label}\']) !!}
            <div class="${6:col-sm-9}">
                {!! Form::text(\'${1:inputname}\',${3:null}, [\'class\' => \'form-control\'${4:, \'required\' => \'required\'}]) !!}
                <small class="text-danger">{{ \$errors->first(\'${1:inputname}\') }}</small>
            </div>
        </div>
    """

  'textarea':
    prefix: 'form:textarea'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">textarea</span>'
    body: '<div class="form-group{{ \$errors->has(\'${1:inputname}\') ? \' has-error\' : \'\' }}">\n\t{!! Form::label(\'${1:inputname}\', \'${2:Inputlabel}\') !!}\n\t{!! Form::textarea(\'${1:inputname}\',${3:null}, [\'class\' => \'form-control\'${4:, \'required\' => \'required\'}]) !!}\n\t<small class="text-danger">{{ \$errors->first(\'${1:inputname}\') }}</small>\n</div>\n'

  'textarea h':
    prefix: 'form:horizontal_textarea'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Boostrap + Form::</span><span style="color:#07a">textarea</span> - h'
    body: """
        <div class="form-group{{ \$errors->has('${1:inputname}') ? ' has-error' : '' }}">
            {!! Form::label(\'${1:inputname}\', \'${2:Inputlabel}\', [\'class\' => \'${5:col-sm-3 control-label}\']) !!}
            <div class="${6:col-sm-9}">
                {!! Form::textarea(\'${1:inputname}\',${3:null}, [\'class\' => \'form-control\'${4:, \'required\' => \'required\'}]) !!}
                <small class="text-danger">{{ \$errors->first(\'${1:inputname}\') }}</small>
            </div>
        </div>
    """
