'.text.html.php.blade':
  'translate blade directive':
    prefix: 'lang'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Blade</span> @lang(\'key.val\')'
    body: "@lang('${2:file_name}.${1:key_name}')"
  'translate blade directive trans':
    prefix: '__'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Blade</span> {{ __(\'key.val\') }}'
    body: "{{ __('${1:file_name}.${2:key_name}') }}"
  'translate blade directive dd':
    prefix: 'dd'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Blade</span> {{ dd($something) }}'
    body: "{{ dd(${1:something}) }}"
  'echo !! string value':
    prefix: '!!'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Blade</span> {!! $1 !!}'
    body: "{!! $1 !!}"

'.text.html.php, .text.html.php, .meta.embedded.block.php':
  'translate php directive':
    prefix: 'lang'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Blade</span> @lang(\'key.val\')'
    body: "@lang('${1:file_name}.${2:key_name})"
  'translate php directive trans':
    prefix: '__'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Blade</span> __(\'key.val\')'
    body: "__('${1:file_name}.${2:key_name}')"
  'translate php directive dd':
    prefix: 'dd'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Blade</span> dd($something)'
    body: "dd(${1:something})"
  'translate php file':
    prefix: 'lara:translation-file-declaration'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#f4645f">Blade</span> tranlsation file declaration'
    body: "<?php return [\n\t'${1:messages}'\t=>\t'${2:value}',\n];\n"
