'.source.ts':

  'Drawer page View TS':
    prefix: 'tns:drawer-page-view'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#3450FD">{N}</span> Drawer page view .ts'
    body: """
      import { EventData } from "data/observable";
      import { RadSideDrawer } from "nativescript-pro-ui/sidedrawer";
      import { topmost } from "ui/frame";
      import { NavigatedData, Page } from "ui/page";

      import { ${1:Feature}ViewModel } from "./${2:feature}-view-model";

      export function onNavigatingTo(args: NavigatedData) {
          if (args.isBackNavigation) {
              return;
          }
          const page = <Page>args.object;
          page.bindingContext = new ${1:Request}ViewModel();
      }

      export function onDrawerButtonTap(args: EventData) {
          const sideDrawer = <RadSideDrawer>topmost().getViewById("sideDrawer");
          sideDrawer.showDrawer();
      }
    """
  'Drawer page View-Model TS':
    prefix: 'tns:drawer-page-model'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#3450FD">{N}</span> Drawer page view-model TS'
    body: """
      import { Observable } from "data/observable";

      export class ${1:Feature}ViewModel extends Observable {
          constructor() {
              super();
          }
      }

    """
