'.text.xml':

  'Drawer page View XML':
    prefix: 'tns:drawer-page-xml'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#3450FD">{N}</span> Drawer Page view XML (nsDrawer)'
    body: """
      <Page
          class="page"
          navigatingTo="onNavigatingTo"
          xmlns:nsDrawer="nativescript-pro-ui/sidedrawer"
          xmlns:myDrawer="shared/my-drawer"
          xmlns="http://www.nativescript.org/tns.xsd">

          <ActionBar class="action-bar">
              <NavigationButton ios:visibility="collapsed" icon="res://menu" tap="onDrawerButtonTap"></NavigationButton>
              <ActionItem icon="res://navigation/menu"
                  android:visibility="collapsed"
                  tap="onDrawerButtonTap"
                  ios.position="left">
              </ActionItem>
              <Label class="action-bar-title" text="${1:Feature}"></Label>
          </ActionBar>


          <nsDrawer:RadSideDrawer id="sideDrawer" showOverNavigation="true">

              <nsDrawer:RadSideDrawer.drawerTransition>
                  <nsDrawer:SlideInOnTopTransition/>
              </nsDrawer:RadSideDrawer.drawerTransition>

              <nsDrawer:RadSideDrawer.drawerContent>
                  <StackLayout>
                      <myDrawer:MyDrawer selectedPage="${1:Feature}"/>
                  </StackLayout>
              </nsDrawer:RadSideDrawer.drawerContent>

              <nsDrawer:RadSideDrawer.mainContent>
                  <GridLayout class="page-content">
                      $2
                      <Label class="page-icon fa" text="&#xf1ea;"></Label>
                      <Label class="page-placeholder" text="<!-- Page content goes here -->"></Label>
                  </GridLayout>
              </nsDrawer:RadSideDrawer.mainContent>
          </nsDrawer:RadSideDrawer>
      </Page>
    """
