'.text.html.php.blade, .text.html.php':

  'Construct definition':
    'prefix': 'php:construct'
    'leftLabelHTML': '<span style="color:#1B81B6">Ⓢ</span>'
    'rightLabelHTML': '<span style="color:#4A90E2">PHP</span> public function __construct'
    'body': """
      public function __construct(${1:Request} $${2:request})
      {
          $this->${2:request} = $${2:request};
      }
    """

  'Full array definition':
    'prefix': 'php:arrayFull'
    'leftLabelHTML': '<span style="color:#1B81B6">Ⓢ</span>'
    'rightLabelHTML': '<span style="color:#4A90E2">PHP</span> arrayName = [key => value];'
    'body': """
      $${1:arrayName} = ['${1:name}' => '${2:value}'];
    """

  'key => value':
    'prefix': 'php:arrValue'
    'leftLabelHTML': '<span style="color:#1B81B6">Ⓢ</span>'
    'rightLabelHTML': '<span style="color:#4A90E2">PHP</span> key => value'
    'body': """
      '${1:name}' => '${2:value}',
    """

  'Trait declaration':
    'prefix': 'php:Trait'
    'leftLabelHTML': '<span style="color:#1B81B6">Ⓢ</span>'
    'rightLabelHTML': '<span style="color:#4A90E2">PHP</span> Trait'
    'body': """<?php namespace App\\\\Traits;

      /**
       * Trait ${1:TraitName}.
       */
      trait ${1:TraitName}
      {
          $2
      }

    """

  'interface Contract':
    'prefix': 'php:Contract'
    'leftLabelHTML': '<span style="color:#1B81B6">Ⓢ</span>'
    'rightLabelHTML': '<span style="color:#4A90E2">PHP</span> Interface'
    'body': """<?php namespace App\\\\Contracts\\\\${1:Repositories};

      /**
       * Contract ${2:ContractName}...
       */
      interface ${2:ContractName}
      {
          $3
      }

    """
