".text.html.basic, .text.html.php":

  'PHP snippets - construct method':
    'prefix': 'boo:checkbox'
    'body': """
      public function __construct(${1:Reqeust} $${2:request})
      {
          $this->${2:request} = $${2:request};
      }
    """
