".source.js, source.js.jsx":
  "Flexbox - alignContent: flexStart,":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> alignContent: flexStart"
    prefix: "flexcont"
    body: "alignContent: '${1:flexStart|flex-end|center|space-between|space-around|stretch}',$2"
  "Flexbox - align-items: flexStart,":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> align-items: flexStart"
    prefix: "flexitems"
    body: "align-items: '${1:flexStart|flex-end|center|baseline|stretch}',$2"
  "Flexbox - alignSelf: auto,":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> alignSelf: auto"
    prefix: "flexself"
    body: "alignSelf: '${1:auto|flexStart|flex-end|center|baseline|stretch}',$2"
  "Flexbox - flexBasis: auto,":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flexBasis: auto"
    prefix: "flexbasis"
    body: "flexBasis: '${1:auto|<'width' (%|rem|em|px)>}',$2"
  "Flexbox - flexDirection: row,":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flexDirection: row"
    prefix: "flexdir"
    body: "flexDirection: '${1:row|row-reverse|column|column-reverse}',$2"
  "Flexbox - flexFlow: row nowrap,":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flexFlow: row nowrap"
    prefix: "flexflow"
    body: "flexFlow: '${1:<'flexDirection' (row|row-reverse|column|column-reverse)> || <'flex-wrap' (nowrap|wrap|wrap-reverse)>}',$2"
  "Flexbox - flexGrow: 0,":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flexGrow: 0"
    prefix: "flexgrow"
    body: "flexGrow: ${1:0},$2"
  "Flexbox - flexShrink: 1,":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flexShrink: 1"
    prefix: "flexshr"
    body: "flexShrink: ${1:1},$2"
  "Flexbox - flex-wrap: nowrap,":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flex-wrap: nowrap"
    prefix: "flexwrap"
    body: "flex-wrap: '${1:nowrap|wrap|wrap-reverse}',$2"
  "Flexbox - flex: 0 1 auto,":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> flex: 0 1 auto"
    prefix: "flex"
    body: "flex: '${1:none|auto|[<'flexGrow' (0)> <'flexShrink' (1)> || <'flexBasis' auto|<'width' (%|rem|em|px)>>]}',$2"
  "Flexbox - display: flex,":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> display: flex"
    prefix: "flexbox"
    body: "display: '${1:flex|inline-flex}',$2"
  "Flexbox - justifyContent: flexStart,":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span> justifyContent: flexStart"
    prefix: "flexjust"
    body: "justifyContent: '${1:flexStart|flex-end|center|space-between|space-around}',$2"
  "Flexbox - order: 0,":
    leftLabelHTML: "<span style='color:#1B81B6'>Ⓢ</span>"
    rightLabelHTML: "<span style='color:#4A90E2'>Flexbox</span>  order: 0"
    prefix: "flexorder"
    body: "order: ${1:0},$2"
