'.source, .text, .plain':

  'Regex helpers':
    prefix: 'regex:replace-arround'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#20C93A">Regex</span> Replace arround'
    body: """
      FIND:
      @lang\\\\(\\\\'(.*?)\\\\'\\\\)
      REPLACE
      {{ __('\\\$1') }}
    """
