'.source.json':

  'Typescript tsconfig.json':
    prefix: 'ts:tsconfig'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#294E80">Typescript</span> tsconfig.json'
    body: """
      {
          "compilerOptions": {
              "module": "system",
              "noImplicitAny": true,
              "removeComments": true,
              "preserveConstEnums": true,
              "outFile": "../../built/local/tsc.js",
              "sourceMap": true
          },
          "include": [
              "src/**/*"
          ],
          "exclude": [
              "node_modules",
              "**/*.spec.ts"
          ]
      }
    """

  'Typescript tsconfig.json nativescript':
    prefix: 'ts:config-nativescript'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#294E80">Ts</span>+<span style="color:#3450FD">{N}</span> tsconfig.json (Nativescript)'
    body: """
      {
          "compilerOptions": {
              "module": "commonjs",
              "target": "es5",
              "noImplicitUseStrict": true,
              "noEmitHelpers": true,
              "noEmitOnError": true,
              "skipLibCheck": true,
              "experimentalDecorators": true,
              "emitDecoratorMetadata": true,
              "lib": [
                  "es6",
                  "dom"
              ],
              "baseUrl": ".",
              "paths": {
                  "*": [
                      "./node_modules/tns-core-modules/*",
                      "./node_modules/*"
                  ]
              }
          },
          "exclude": [
              "node_modules",
              "platforms",
              "**/*.aot.ts"
          ]
      }
    """
