'.html, .php, .phtml':

  'H1':
    'prefix': '${prefixto}h1'
    'body': '<h1>$1</h1>'
    'variables':
      'prefixto':'atom.config.get("bootstrap-3-snippets-for-atom.sf-prefix")'

  'H2':
    'prefix': '${prefixto}h2'
    'body': '<h2>$1</h2>'
    'variables':
      'prefixto':'atom.config.get("bootstrap-3-snippets-for-atom.sf-prefix")'

  'H3':
    'prefix': '${prefixto}h3'
    'body': '<h3>$1</h3>'
    'variables':
      'prefixto':'atom.config.get("bootstrap-3-snippets-for-atom.sf-prefix")'

  'H4':
    'prefix': '${prefixto}boo-h4'
    'body': '<h4>$1</h4>'
    'variables':
      'prefixto':'atom.config.get("bootstrap-3-snippets-for-atom.sf-prefix")'

  'H5':
    'prefix': 'boo-h5'
    'body': '<h5>$1</h5>'

  'H6':
    'prefix': 'boo-h6'
    'body': '<h6>$1</h6>'

  'p.lead':
    'prefix': 'boo-lead'
    'body': '<p class="lead">$0</p>'

  'p.text-':
    'prefix': 'boo-text'
    'body': '<p class="text-${1:"primary"}">$2</p>'

  'p.bg-':
    'prefix': 'boo-bg'
    'body': '<p class="bg-${1:"success"}">$2</p>'
