'.text.html.vue':
  'Vue: Blank template ':
    prefix: 'vue:template'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#42b983">Vue</span> Blank template'
    body: '<template>\n\t<div>\n\t\tHello im module: {{ moduleName }}\n\t</div>\n</template><script>\nmodule.exports = {\n\tdata () {\n\t\treturn {\n\t\t\tmoduleName: \'$1\'\n\t\t}\n\t}\n}\n</script><style>\n</style>\n'
  'Vue: Blank template - (async component)':
    prefix: 'vue:template-async-component'
    leftLabelHTML: '<span style="color:#1B81B6">Ⓢ</span>'
    rightLabelHTML: '<span style="color:#42b983">Vue</span> Blank template - (async component)'
    body: '<template>\n\t<div>\n\t\tHello im module: {{ moduleName }}\n\t</div>\n</template><script>\nexport default {\n\tdata () {\n\t\treturn {\n\t\t\tmoduleName: \'$1\'\n\t\t}\n\t}\n}\n</script><style>\n</style>\n'
